@page
@model TicTacToe.Pages.TicTacToeModel
@{
    ViewData["Title"] = "TicTacToe";
}

<h2>TicTacToe</h2>

@for(int x =0; x<Model.Board.GetLength(0); x++)
{
    <div class="row">
        @for (int y = 0; y < Model.Board.GetLength(1); y++)
        {
            
            <div class="square2">@Model.Board[x, y]</div>
        }
    </div>
}
<div id="grid">
    @for (int i = 0; i < 9; i++)
    {
        <div id="square-@i" class="square"></div>
    }
</div>
<p id="turn"></p>
